body, html {
    margin: 0;
}

#header {
    background-color: black;
    width: 100vw;
    height: 10vh;
}

#menu {
    background-color: rgb(248, 193, 202);
    position: absolute;
    left: -180px;
    top: 50px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    transition: left 0.5s;
}

/* #content {
    margin: 
} */
.content {
    margin: 10px;
}

#left {
    background-color: white;
    flex: 1;
    /* width: 20px; */
    height: 60px;
}

#right {
    background-color: rgb(88, 64, 88);
    flex: 3;
    height: 30px;
}