#footer {
    width: 100vw;
    height: 20vh;
    top: 90vh;
    display: flex;
    position: relative;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
}

.fdiv{
width: 10%;
position: absolute;
display: flex;
height: 25%;
background-color: blue;
}


body, html{
    margin: 0;
}